<div class="alerts">
<%if session[:currentQuiz] %>
  <div class="alert alert-primary d-flex align-items-center" role="alert">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
      <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
    </svg>
    <div>you didn't complete the last quiz you started! 
          <a href="<%=quiz_path(id:session[:currentQuiz],question:session[:currentQuestion])%>">Go quickly finish it </a>
    </div>
</div>
  <%@currentQuestion=session[:currentQuestion]%>
<%else%>
<%end%>
</div>
<div class="index-quizzes row g-0 ">
<% @categories=["Pokemon","Move","Sprite","Type"]%>
<% @quizz.each do |quiz| %>
    <a class="quiz-card nav-link m-2 col-2 position-relative"
              href=<%if session[:currentQuiz].to_i== quiz.id.to_i   %>
              <%=quiz_path(id:quiz.id,question:session[:currentQuestion])%>
              <%else%>
              <%=quiz_path(id:quiz.id,question:1)%>
              <%end%>>
      <div class="band-card">
      <div class="slot-left">
        <div class="slot-icon">
        <img 
          class="<%if session[:currentQuiz].to_i!= quiz.id.to_i %>
              icon-card
              <%else%>
              icon-card waiting-quiz
              <%end%>"
          src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/items/<%=case quiz.difficulty when 1 then"poke"when 2 then"great"when 3 then"ultra"when 4 then"master"end%>-ball.png"
          alt="icon-card"/>
      </div>
      </div>
        <h3 class="slot-right"><span>Quizz n°<%= quiz.id%></span></h3>
      </div>
      <div class="body-card row g-0">
        <%@categories.each do |c|%>
          <div class="quiz-category col-6"><span class="span-category"><%=c%></span></div>
        <%end%>
      </div>
      <%if session[:currentQuiz].to_i== quiz.id.to_i %>
        <span class="position-absolute top-0 start-100 translate-middle p-2 bg-danger border border-light rounded-circle">
          <span class="visually-hidden">New alerts</span>
        </span>
      <%end%>
    </a>

<%end%>
</div>

