<div class="d-flex">
<%png=Proc.new {|tool|"https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/items/"+case tool when "create" then"lucky-egg"when "listing" then"journal" when"purpose"then"oaks-letter" end+".png"}%>
<% @quizTools.each do |tool|%>
<a class="tool-card nav-link m-2 col-2 position-relative"
    href="<%=case tool when "create" then new_quiz_path  when "listing" then tools_quiz_path end%>">
      <div class="band-tool-card">
      <div class="slot-left">
        <div class="slot-icon">
        <img 
          class="icon-tool"
          src=<%=png.call(tool)%>
          alt="icon-tool"/>
      </div>
      </div>
          <h5 class="card-title"><%=tool.capitalize%> Quiz </h5>      
        </div>
      <div class="body-card row g-0">
          <%case tool%>
          <%when "create"%>
            Choose five question among all questions availabes
          <%when "listing"%>
    Show the list of quizzes with the options : Delete and Modify
 <%when "purpose"%>
            Submit a new quiz to an administrator who can validate it
==SOON==
          <%end%>
      </div>
    </a>
<%end%>
<% @questionTools.each do |tool|%>

<a class="tool-card nav-link m-2 col-2 position-relative"
    href="<%=case tool when "create" then choice_question_path(start:true)  when "listing" then questions_path end%>">
      <div class="band-tool-card">
      <div class="slot-left">
        <div class="slot-icon">
        <img 
          class="icon-tool"
          src=<%=png.call(tool)%>
          alt="icon-tool"/>
      </div>
      </div>
          <h5 class="card-title"><%=tool.capitalize%> Question </h5>      
        </div>
      <div class="body-card row g-0">
      <%case tool%>
          <%when "create"%>
            Choose a theme's, a question's type and we do the rest
          <%when "listing"%>
            Show the list of questions with the options : Delete and Modify
          <%when "purpose"%>
            Submit a new question to an administrator who can validate it
==SOON==
          <%end%>
      </div>
    </a>
<%end%>
</div>
