<!DOCTYPE html>
<html>
  <head>
    <title>Qulbutoquiz</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <%= csp_meta_tag %>
    <style>
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
</style>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<script src="http://code.jquery.com/jquery-1.11.1.min.js" type="text/javascript"></script>
<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<%= csrf_meta_tags %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <%- if ["pages","questions","quizzes","users"].include?(controller_name)  %>
    <div class="top-bar">
      <div class="navigation">
        <a class="nav-link nav-logo"  href="/"><%= image_tag "qulbutoke.png",class:"logo-site"%></a>
        <%if @quiz != nil %>
          <a class="ward-quiz nav-link nav-page">
            <span>Quizz n°<%= @quiz.id%></span>
          </a> 
        <% end%>
        <a class="nav-link nav-page <%= if @current_page=="Availables Tools for you" then  "page-selected" end %>" href="<%=mainTools_path%>"><span>Quizz Tools</span> <span class="material-symbols-outlined ">quiz</span></a>
        <div class="nav-page account <%= if @current_page=="My Account" then  "page-selected" end %>">
          <a class="nav-link account " " href="<%= if user_signed_in? then user_path else new_user_session_path end%>">
            <%if user_signed_in?%> 
            <span class="material-symbols-outlined">face_6</span>
              <span>My Account</span>
              <a  
                class="nav-link account log-out" 
                href="<%=destroy_user_session_path%>"
                data-turbo-method="delete"
                data-turbo-confirm="Are you sure to logout ?"
              >
              <span class="material-symbols-outlined ">logout</span>
              </a>
            <%else%> 
              Log In 
              <span class="material-symbols-outlined">login</span>
            <%end%>
          </a>
        </div>
        <a class="nav-link nav-page" href="https://github.com/Mr-Fougere/study_test"><span class="material-symbols-outlined ">help</span></a>
      </div>
    </div>  
  <%end%>
  <%if @current_page and !request.original_url.include?("sign_in") and !request.original_url.include?("sign_up") and !request.original_url.include?("password/new")%>

  <div class="panel-bienvenue">
        <h3><%= @current_page%></h3>
    </div>
  <%end %>
    <%= yield %>
  </body>
</html>
